#colors-container
{
    /*
    background-color: white;
    overflow: auto;
    */
}

#colors-content
{
    border-bottom: solid;
    border-color: #EEEEEE;
    overflow: auto;
    width: 800px;
    margin-top: 5%;
    margin-bottom: 5%;
}

#colors-slideshow
{
    float: left;
    margin-bottom: 15px;
}

#colors-slideshow img
{
    position: absolute;
    margin-top:1%;
}

#colors-text 
{
    margin-left: 310px;
    margin-bottom: 20px;
}

#colors-text h1
{
    color: black;    
    font-size: 20pt;
    margin-top: 30px;
}

#colors-text p
{
    font-size: 8pt;
    margin-top: 10px;
    margin-bottom: 10px;
}
